<div class="col-xs-12">
  <p>
    <span><big><%= @word.name %></big></span>
    <span><%= @word.jbo_type %></span>
    <% @word.affixes.each do |affix| %>
      <span>
        <small>–</small><%= affix %><small>–</small>
      </span>
    <% end %>
    <% @word.etymologies.each do |etymology| %>
      <span>
        <small><%= etymology.language %></small>
        <%= link_to etymology.roman, etymology.wiktionary_link %>
      </span>
    <% end %>
  </p>
  <p><%= @word.definition %></p>
  <p><small><%= @word.note %></small></p>
  <p>
    <span><%= @word.example %></span>
    <span>
      <%=
        if @word.translation
          content_tag(:small, @word.translation, class: "translation")
        end
      %>
    </span>
  </p>
</div>
